[Unit]
Description=SimpsonsTV Menu
After=network.target simpsonstv-api.service
Wants=simpsonstv-api.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/home/donkikochan/TvSimpsonsApp/RaspberryPiTV
ExecStart=/bin/bash /home/donkikochan/TvSimpsonsApp/RaspberryPiTV/start_menu.sh
ExecStop=/usr/bin/pkill -f /home/donkikochan/TvSimpsonsApp/RaspberryPiTV/menu_app.py
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
